:root {
    --light: #ffffff;
    --dark: rgba(232, 102, 236, 1);
    --bg: #333333;
}

html {
    background-color: var(--bg);
    font-family: sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    max-width: 1200px;
    margin: 1em auto;
}

h1 {
    max-width: 75%;
    text-align: center;
    margin: auto;
    color: var(--dark);
}

.header-p {
    max-width: 50%;
    text-align: center;
    margin: auto;
    border: none;
    color: var(--light);
    padding: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 25px;
    border: 1.75px dashed var(--light);
    width: 324px;
    padding-bottom: 10px;
}

h2, p {
    width: 90%;
    min-height: max-content;
    margin: 5px;
    color: var(--dark);
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    margin: -20px 5px 0 5px;
    background-color: var(--bg);
    border: 1.75px solid var(--light);
    border-radius: 5px;
    padding-left: 10px;
}

p {
    font-size: 85%;
}

.ex {
    flex-grow: 2;
    width: 90%;
    background-image: linear-gradient(var(--bg) 0%, var(--dark) 100%);
    border-radius: 5px;
    margin: 0 0 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: var(--light);
    user-select: all;
}

h3 {
    max-width: 75%;
    text-align: center;
    margin: auto;
    color: var(--dark);
    padding-bottom: 25px;
}

.card:hover {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.card:hover,
.card:hover h2 {
    box-shadow: inset 0px 0px 8px
    var(--bg), 0 0 15px
    var(--dark);
}

